/* App.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
}

input[type="text"] {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
